/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* Set base font size to 10px */
    font-family: Arial, sans-serif; /* Set default font family */
}

body {
    font-size: 1.6rem; /* Set font size to 16px */
    line-height: 1.5; /* Set line height */
}

/* Header Styles */
header {
    background-color: black; /* Set background color */
    color: #fff; /* Set font color */
    display: block; /* Use flexbox to position elements */
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Align elements vertically */
    padding: 1rem; /* Add padding */
}
  nav {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    display: inline-block;
  }
  
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    background-color: #ccc;
  }

h1 {
    font-size: 3.6rem; /* Set font size */
}

/* Main Content Styles */
main {
    margin: 5rem 0; /* Add margin */
    padding: 0 2rem; /* Add padding */
}

section {
    margin-bottom: 5rem; /* Add margin between sections */
}

h2 {
    font-size: 2.4rem; /* Set font size */
    margin-bottom: 2rem; /* Add margin */
}

p {
    font-size: 1.6rem; /* Set font size */
    line-height: 2.4rem; /* Set line height */
    color: #333; /* Set font color */
}
ul, ol {
    margin-left: 20px;
}

@media (max-width: 767px) {
    /* Adjust header styles for smaller screens */
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
      
        margin-bottom: 2rem;
    }

    ul {
        text-align: center;
        
    }

    ol {
        text-align: center;
        
    }
}
